{
  "presets": ["@babel/preset-typescript", "@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/transform-runtime",
      {
        "useESModules": true,
        "regenerator": false
      } 
    ]
  ]
}