.add-button {
  color: #f65261;
  font-size: 18px;
  background: rgba(66, 66, 66, 0.9);
  padding: 3px 7px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  text-transform: uppercase;
}
