.modal {
  width: 230px;
  height: 86px;
  background: #232323;
  color: white;
}

.modal-header {
  padding: 2px 5px;
  text-align: right;
  font-size: 12px;
}

.modal-close-sign {
  cursor: pointer;
}

.action-item {
  width: 100%;
  height: 30px;
  text-align: left;
  background: #232323;
  box-sizing: border-box;
  padding: 5px 0 5px 20px;
  cursor: pointer;
}

.action-item:hover,
.action-item:active {
  background: #f65261;
}